.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.walletButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.funcButtons {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  min-width: 500px;
}

#pokeButton {
    cursor: pointer;
    justify-content: center;
  margin-right: 10px;
    margin-top: 16px;
    padding: 8px;
    border: 0;
    border-radius: 5px;
  flex-grow: 2;
}

.textbox {
  width: 97%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  margin-top: 8px;
  padding: 0;
}
#getPokesButton {
  cursor: pointer;
  align-content: end;
  justify-content: center;
  margin-left: 10px;
    margin-top: 16px;
    padding: 8px;
    border: 0;
    border-radius: 5px;
  flex-grow: 2;
}